extends layout.jade

block title
	if newname
		title Angemeldet
	else
		title Diabetes-Schule Berlin

block content
	div.container
		div.row
			div.col-md-10.col-md-offset-1
				h1 Kinder mit Diabetes in der Schule

	div.frontblock
		div.container
			div.row
				div.col-md-10.col-md-offset-1
					h1 Informations&shy;nachmittag für pädagogische Fachkräfte
					p
						span.pull-right.strip.timer.hidden-xs
						span.strip 3. September 2018
						| &nbsp;&nbsp;
						span.strip Berlin


	div.container
		div.row
			div.col-sm-9.col-md-7.col-md-offset-1.col-lg-8
				p.lead Das Diabeteszentrum für Kinder und Jugendliche der Charité bietet an diesem Nachmittag eine kostenfreie Informationsveranstaltung für Lehrerinnen, Erzieherinnen und Schulhelferinnen an, um sich im Umgang mit Kindern mit Diabetes mellitus Typ 1 fortzubilden. Neben den Grundlagen können sie an durch Experten geleitete Seminare zur Vertiefung ihres Wissens teilnehmen.

			div.col-sm-3.col-lg-2
				a.btn.btn-primary.btn-lg.pull-right(href="#anmeldung") Anmeldung
				div.clearfix




			div.col-md-10.col-md-offset-1
				br
				h2 Moderation

			div.col-sm-6.col-md-5.col-md-offset-1
				div.speaker
					img(src="/images/portrait-k.jpg").speaker-image
					img(src="/images/portrait-k-monochrome.jpg").speaker-image-monochrome
					div.speaker-text
						p.lead Karina Boss
						p Diabetesberaterin

			div.col-sm-6.col-md-5
				div.speaker
					img(src="/images/portrait-michaela-heinrich.jpg").speaker-image
					img(src="/images/portrait-michaela-heinrich-monochrome.jpg").speaker-image-monochrome
					div.speaker-text
						p.lead Michaela Heinrich
						p Sozialarbeiterin

			div.clearfix

			div.col-sm-6.col-md-5.col-md-offset-1
				div.speaker
					img(src="/images/portrait-klemens-raille.jpg").speaker-image
					img(src="/images/portrait-klemens-raille-monochrome.jpg").speaker-image-monochrome
					div.speaker-text
						p.lead Prof. Dr. med. Klemens Raile
						p Leiter des Diabeteszentrums für Kinder und Jugendliche

			div.col-sm-6.col-md-5
				div.speaker
					img(src="/images/portrait-lilian-farias.jpg").speaker-image
					img(src="/images/portrait-lilian-farias-monochrome.jpg").speaker-image-monochrome
					div.speaker-text
						p.lead Lilian Farias
						p Psychologin

			div.clearfix

			div.col-sm-6.col-md-5.col-md-offset-1
				div.speaker
					img(src="/images/portrait-kathrin-griffig.jpg").speaker-image
					img(src="/images/portrait-kathrin-griffig-monochrome.jpg").speaker-image-monochrome
					div.speaker-text
						p.lead Dr. Kathrin Griffig
						p Kinderdiabetologin

			div.col-sm-6.col-md-5
				div.speaker
					img(src="/images/portrait-romina-plaetke.jpg").speaker-image
					img(src="/images/portrait-romina-plaetke-monochrome.jpg").speaker-image-monochrome
					div.speaker-text
						p.lead Romina Geißler
						p Diabetesberaterin


	div.timetable-wrapper
		div.container

			div.row
				div.col-md-10.col-md-offset-1
					h2 Zeitplan

					div.row.timetable
						div.line1
						div.line2
						div.col-sm-2.col-md-2.timetable-time
							p 15:00
						div.col-sm-9.col-sm-offset-1.col-md-9.col-md-offset-1.timetable-content
							h4 Begrüßung 
							div.timetable-description
								i.fa.fa-user.fa-fw
								| &nbsp;&nbsp;
								| Prof. Dr. Klemens Raile · Leiter des Diabeteszentrums für Kinder und Jugendliche
								br
								i.fa.fa-map-marker.fa-fw
								| &nbsp;&nbsp;
								| Hörsaal 6 · Mittelallee 10
								br
								| Prof. Raile stellt die Arbeit des Diabeteszentrums für Kinder und Jugendliche der Charité und die aktuelle Situation von Kindern mit Diabetes in der Schule vor.

					div.row.timetable
						div.line1
						div.line2
						div.col-sm-2.col-md-2.timetable-time
							p 15:15
						div.col-sm-9.col-sm-offset-1.col-md-9.col-md-offset-1.timetable-content
							h4 Einführung 
							div.timetable-description
								i.fa.fa-user.fa-fw
								| &nbsp;&nbsp;
								| Dr. Kathrin Griffig · Kinderdiabetologin
								br
								i.fa.fa-map-marker.fa-fw
								| &nbsp;&nbsp;
								| Hörsaal 6 · Mittelallee 10
								br
								|  Frau Dr. Griffig referiert über die Grundlagen der Diabetestherapie und deren Bedeutung im Schulalltag, sowie über die Vermeidung von Gefahrensituationen.


					div.row.timetable
						div.line1
						div.line2
						div.col-sm-2.col-md-2.timetable-time
							p 15:50
						div.col-sm-9.col-sm-offset-1.col-md-9.col-md-offset-1.timetable-content
							h4 Schulunterstützende Maßnahmen 
							div.timetable-description
								i.fa.fa-user.fa-fw
								| &nbsp;&nbsp;
								| Michaela Heinrich · Sozialarbeiterin des Sozialpädiatrischen Zentrums
								br
								i.fa.fa-map-marker.fa-fw
								| &nbsp;&nbsp;
								| Hörsaal 6 · Mittelallee 10
								br
								| Frau Heinrich erörtert die Möglichkeiten von schulunterstützenden Maßnahmen für Kinder mit Typ 1 Diabetes in Berlin und Brandenburg und erklärt die Wege zur Beantragung und deren Schwierigkeiten.


					div.row.timetable
						div.line1
						div.line2
						div.col-sm-2.col-md-2.timetable-time
							p 16:30
						div.col-sm-9.col-sm-offset-1.col-md-9.col-md-offset-1.timetable-content
							h4 PAUSE 
							div.timetable-description
								p Imbiss im Foyer (Untergeschoss)


					div.row.timetable
						div.line1
						div.line2
						div.col-sm-2.col-md-2.timetable-time
							p 17:00
						div.col-sm-9.col-sm-offset-1.col-md-9.col-md-offset-1.timetable-content
							h4 Aufteilung in Seminare 



	div.seminare-wrapper
		div.container#seminare
			h2.text-center Seminare
			br
			br


			div.row
				div.col-sm-6.col-lg-6.session-description
					div.panel.panel-default
						div.panel-body
							img.image(src="/images/kongress-2015-07-19-P7190768.jpg")
							img.image-monochrome(src="/images/kongress-2015-07-19-P7190768-monochrome.jpg")
							h3 Basis-Schulung

							p
								| Einführung in das Thema Typ 1 Diabetes. Grundlagen wie Blutzucker messen, Kohlenhydrate erkennen und Broteinheiten berechnen, Unter- und Überzuckerungen erkennen und behandeln, Therapieempfehlungen bei Sport und Schwimmen, Verhalten  bei Ausflügen und Klassenfahrten werden durch das Schulungsprogramm 
								a(href="https://edukids.charite.de/") Edukids
								|  vermittelt.
							p
								i.fa.fa-user.fa-fw
								| &nbsp;&nbsp;
								| Dr. Kathrin Griffig
								br
								i.fa.fa-clock-o.fa-fw
								| &nbsp;&nbsp;
								| 17:00 – 19:00
								br
								i.fa.fa-map-marker.fa-fw
								| &nbsp;&nbsp;
								| Hörsaal 6 · Mittelallee 10

							if locals.guestCounts.basis
								p
									em #{guestCounts.basis} von 200 Plätzen belegt
							else
								p
									em Noch keine Anmeldung.


				div.col-sm-6.col-lg-6.session-description
					div.panel.panel-default
						div.panel-body
							img.image(src="/images/kongress-2015-07-19-P7190765.jpg")
							img.image-monochrome(src="/images/kongress-2015-07-19-P7190765-monochrome.jpg")
							h3 Insulinpumpentechnik

							p Nach den Grundlagen wie der Behandlung von Unter- und Überzuckerungen, sowie BE-Berechnung werden die Bedienung der Insulinpumpe mit Bolusabgabe erklärt. Die technische Einweisung für die verschiedenen Pumpen erfolgt in Kleingruppen. In diesen Kleingruppen wird mit folgenden Insulinpumpen geübt: 
								em Roche Accu check Insight
								| , 
								em Paradigm Medtronic Veo 
								| , 
								em 640G 
								| sowie 
								em Omnipod
								| und 
								em Ypsopump
								|.
							p
								i.fa.fa-user.fa-fw
								| &nbsp;&nbsp;
								| Karina Boss
								br
								i.fa.fa-clock-o.fa-fw
								| &nbsp;&nbsp;
								| 17:00 – 19:00
								br
								i.fa.fa-map-marker.fa-fw
								| &nbsp;&nbsp;
								| Kursraum 6 · Mittelallee 10

							if locals.guestCounts.pumpe
								p
									em #{guestCounts.pumpe} von 30 Plätzen belegt
							else
								p
									em Noch keine Anmeldung.


				div.col-sm-6.col-lg-6.session-description
					div.panel.panel-default
						div.panel-body

							img.image(src="/images/kongress-2014-10-01-PA010625.jpg")
							img.image-monochrome(src="/images/kongress-2014-10-01-PA010625-monochrome.jpg")
							h3 Psychoemotionale Aspekte
							p Die psychoemotionalen Aspekte der Krankheitsbewältigung im Kindesalter gehören zu den Hauptthemen in diesem Seminar. Anhand von fiktiven Fallbeispielen werden verschiedene Aspekte der Erkrankung Diabetes mellitus Typ 1 besprochen.
							p
								i.fa.fa-user.fa-fw
								| &nbsp;&nbsp;
								| Lilian Farias
								br
								i.fa.fa-clock-o.fa-fw
								| &nbsp;&nbsp;
								| 17:00 – 19:00
								br
								i.fa.fa-map-marker.fa-fw
								| &nbsp;&nbsp;
								| Seminarraum 1 · Mittelallee 8

							if locals.guestCounts.psycho
								p
									em #{guestCounts.psycho} von 30 Plätzen belegt
							else
								p
									em Noch keine Anmeldung.


				div.col-sm-6.col-lg-6.session-description
					div.panel.panel-default
						div.panel-body
							img.image(src="/images/kongress-2014-10-01-PA010641.jpg")
							img.image-monochrome(src="/images/kongress-2014-10-01-PA010641-monochrome.jpg")
							h3 Glukosesensoren
							p In diesem Seminar wird besprochen, welche Glukosesensoren zur Zeit zur Verfügung stehen und was dies für die Betreuung der Kinder mit Diabetes in der Schule bedeutet. Insbesondere wird der Unterschied zwischen Blutzuckermessung und Gewebsglukosemessung erklärt.
							p
								i.fa.fa-user.fa-fw
								| &nbsp;&nbsp;
								| Prof. Dr. Klemens Raile
								br
								i.fa.fa-clock-o.fa-fw
								| &nbsp;&nbsp;
								| 17:00 – 19:00
								br
								i.fa.fa-map-marker.fa-fw
								| &nbsp;&nbsp;
								| Seminarraum 2 · Mittelallee 8

							if locals.guestCounts.glucosesensor
								p
									em #{guestCounts.glukosesensor} von 30 Plätzen belegt
							else
								p
									em Noch keine Anmeldung.


			a.btn.btn-default(href="/lehrer-erzieher-nachmittag-2018.pdf")
				i.fa.fa-file-pdf-o
				| &nbsp;&nbsp;Zeitplan als PDF





	.container
		if newname
			div.thankyou#anmeldung
				h1.text-center Danke für Ihre Anmeldung!
				h2.text-center Herzlich willkommen #{newname}. Sie haben sich erfolgreich für den Lehrer-Erzieher-Nachmittag angemeldet. 
					| In Kürze erhalten Sie eine E-Mail zur Bestätigung.
			div#newname-name.hidden #{newname}

		else
			h2#anmeldung Anmelden
			p Bitte füllen Sie die Felder aus. Nach der Anmeldung bekommen Sie eine Bestätigung per E-Mail.
			br

			if error=='name missing'
				div.alert.alert-dismissible.alert-danger
					button.close(type="button", data-dismiss="alert") x
					| Es muss ein Name eingegeben werden.

			else if error=='email missing'
				div.alert.alert-dismissible.alert-danger
					button.close(type="button", data-dismiss="alert") x
					| Es muss eine E-Mail Adresse eingegeben werden.

			else if error=='school missing'
				div.alert.alert-dismissible.alert-danger
					button.close(type="button", data-dismiss="alert") x
					| Es muss eine Schule eingegeben werden.

			else if error=='session missing'
				div.alert.alert-dismissible.alert-danger
					button.close(type="button", data-dismiss="alert") x
					| Es muss ein Seminar oder „kein Seminar“ ausgewählt werden.

			else if error=='duplicate entry'
				div.alert.alert-dismissible.alert-danger
					button.close(type="button", data-dismiss="alert") x
					| Es gibt schon eine Anmeldung mit der gleichen E-Mail Adresse!

			else if error=='database error'
				div.alert.alert-dismissible.alert-danger
					button.close(type="button", data-dismiss="alert") x
					| Datenbank-Fehler! Ups!

			else if error=='name invalid'
				div.alert.alert-dismissible.alert-danger
					button.close(type="button", data-dismiss="alert") x
					| Mit dem eingegebenen Namen stimmt etwas nicht.

			else if error=='email invalid'
				div.alert.alert-dismissible.alert-danger
					button.close(type="button", data-dismiss="alert") x
					| Mit der eingegebenen Mailadresse stimmt etwas nicht.

			else if error=='school invalid'
				div.alert.alert-dismissible.alert-danger
					button.close(type="button", data-dismiss="alert") x
					| Mit der eingegebenen Schule stimmt etwas nicht.


			form(action="/#anmeldung" method="post" data-toggle="validator")#anmeldungsformular
				div.row
					div.col-sm-6
						p
							input.form-control(name="name" placeholder="Name" required="required")
						p
							input.form-control(name="email" type="email" placeholder="E-Mail Adresse" required="required")
						p
							input.form-control(name="school" placeholder="Schule" required="required")
					div.col-sm-6
						p
							select.form-control(name="session" required="required" autocomplete="off")
								option(selected="selected", disabled="disabled", hidden="hidden", value="") Seminar auswählen
								option(value="basis") Basis-Schulung
								option(value="pumpe") Insulinpumpentechnik
								option(value="psycho") Psychoemotionale Aspekte
								option(value="glukosesensor") Glukosesensoren
								option(value="keinSeminar") kein Seminar
						p.pumpenselect(style="display:none;")
							select.form-control(name="session_detail" autocomplete="off")
								option(selected="selected", disabled="disabled", hidden="hidden", value="") Pumpe auswählen
								option(value="accucheck") Accu Check Insight
								option(value="medtronic") Medtronic Veo und 640G
								option(value="omnipod") Omnipod
								option(value="ypsopump") Ypsopump
								option(value="keineahnung") Keine Ahnung
						p
							input.form-control.btn.btn-primary(type="submit", value="anmelden")
		br
		br



	div.container
		br
		br
		div.row
			div.col-md-4
				p Seit acht Jahren bietet das 
					strong Diabeteszentrum der Charité Campus Virchow 
					| jedes Jahr im Herbst einen 
					strong Informationsnachmittag für Lehrer, Erzieher und Schulhelfer 
					| zum Thema: Kinder mit Diabetes in der Schule an. Die wachsende Teilnehmerzahl, zuletzt rund 200 Lehrer, Erzieher und Schulhelfer, belegt den bestehenden Bedarf.
			div.col-md-4
				p Neben einer allgemeinen Einführung zu Kindern mit Diabetes in der Schule werden 
					strong sozialrechtliche Aspekte wie die Beantragung von Schulhelfern, Integrationsstatus und die Verordnung von Pflegediensten 
					| besprochen. Gefolgt von rechtlichen Aspekten wie 
					strong Stand der rechtlichen Grundlagen und Haftung von Lehrern und Erziehern 
					| in Bezug auf die Betreuung von Kindern mit Diabetes mellitus Typ1 
					| erörtert.
			div.col-md-4
				p In den anschließenden 
					strong Seminaren 
					| können Sie ihr Wissen in einem Gebiet vertiefen. Bitte melden Sie sich nur für ein Seminar an, die Seminare finden parallel statt. Wenn sie die Grundlagen erlernen möchten, empfehlen wir Ihnen unbedingt die Basis-Schulung.

			div.clearfix
		br
		br
		br


	div.container.map
		div.row
			div.col-sm-6.col-md-8
				img.image.hidden-sm.hidden-md(src="/images/karte-lg.png")
				img.image.hidden-xs.hidden-md.hidden-lg(src="/images/karte-sm.png")
				img.image.hidden-xs.hidden-sm.hidden-lg(src="/images/karte-md.png")
			div.col-sm-6.col-md-4
				h2 Kontakt
				p Charité Campus Virchow
					br
					| Diabeteszentrum für Kinder und Jugendliche
					br
					| Karina Boss
					br
					| Augustenburger Platz 1
					br
					| 13353 Berlin
					br
					| Tel. 
					a(href="tel:+4930450566357") 030 450 566 357
					br
					a(href="mailto:karina.boss@charite.de") karina.boss@charite.de
			div.col-sm-6.col-md-4
				h2 Anfahrt
				p Campus Virchow Klinikum 
					br
					|  Mittelallee 10
					br
					a(href="https://maps.google.com/?q=52.5422183,13.3439445", target="_blank") Google Maps 
						i.fa.fa-external-link

				p
					i.fa.fa-subway.fa-fw
					|  U9 Amrumer Straße
					br
					i.fa.fa-train.fa-fw
					|  S 41/42 Westhafen 
					br
					i.fa.fa-bus.fa-fw
					|  50, M13, 106 Virchow-Klinikum
					br
					i.fa.fa-bus.fa-fw
					|  221 U Amrumer Straße
