extends layout.jade

block title
	title Diabetes-Schule Berlin | K-ontrol

block content
	div.container
		a.btn.btn-default(href="/") zurück

		h1 K-ontrol &nbsp;
			strong Anmeldungen

		br
		br
		h2 Basis-Schulung
		table.table.table-striped
			thead
				tr
					th
					th Name
					th E-Mail
					th Schule
			tbody
				each guest, index in registrations
					if guest.session=='basis'
						tr
							td #{index+1}
							td #{guest.name}
							td
								a(href="mailto:#{guest.email}") #{guest.email}
							td #{guest.school}



		br
		br
		h2 Insulinpumpe
		table.table.table-striped
			thead
				tr
					th
					th Name
					th E-Mail
					th Schule
			tbody
				each guest, index in registrations
					if guest.session=='pumpe'
						tr
							td #{index+1}
							td #{guest.name}
							td
								a(href="mailto:#{guest.email}") #{guest.email}
							td #{guest.school}


		br
		br
		h2 Psychoemotionale Aspekte
		table.table.table-striped
			thead
				tr
					th
					th Name
					th E-Mail
					th Schule
			tbody
				each guest, index in registrations
					tr
						if guest.session=='psycho'
							td #{index+1}
							td #{guest.name}
							td
								a(href="mailto:#{guest.email}") #{guest.email}
							td #{guest.school}



		br
		br
		h2 Inklusion
		table.table.table-striped
			thead
				tr
					th
					th Name
					th E-Mail
					th Schule
			tbody
				each guest, index in registrations
					tr
						if guest.session=='inklusion'
							td #{index+1}
							td #{guest.name}
							td
								a(href="mailto:#{guest.email}") #{guest.email}
							td #{guest.school}


		br
		br
		h2 kein Seminar
		table.table.table-striped
			thead
				tr
					th
					th Name
					th E-Mail
					th Schule
			tbody
				each guest, index in registrations
					tr
						if guest.session=='keinSeminar'
							td #{index+1}
							td #{guest.name}
							td
								a(href="mailto:#{guest.email}") #{guest.email}
							td #{guest.school}
